<ion-header>
  <ion-navbar>
    <ion-title><b style="color: #488aff">Anotações</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="padding-top: 4px">
  <ion-list *ngIf="verciculosComentados.length !==0">

      <ion-card *ngFor="let v of verciculosComentados" style="background: #fffefe">

          <ion-card-header>
              <ion-note> {{ getDescricaoCompletaVersiculo(v) }} </ion-note> 
            <h3 text-wrap> {{v.texto}} </h3>
          </ion-card-header>
        
          <ion-card-content>
              <ion-label text-wrap [style.font-size]=" this.bibliaProvider.biblia.tamanhoFonte + 'rem' "> 
                  {{ v.comentariosUsuario }} 
                </ion-label>
          </ion-card-content>
        
        </ion-card>
   
  </ion-list>

  <ion-label *ngIf="verciculosComentados.length === 0" 
            text-wrap style="color: red" 
            [style.font-size]=" this.bibliaProvider.biblia.tamanhoFonte + 'rem' ">
     Você não tem nenhum comentário. 
  </ion-label>

</ion-content>

