<ion-header>

  <ion-toolbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segmentoSelecionado">
      <ion-segment-button value="livros" (click)="exibirBtnBusca()">
        <b style="color: black"> {{abaLivroDescricao}} </b>
      </ion-segment-button>
      <ion-segment-button value="capitulos" (click)="ocultarBotaoBusca()">
        <b style="color: black"> {{abaCapituloDescricao}} </b>
      </ion-segment-button>
      <ion-segment-button value="versiculos">
        <b style="color: black">Versículos</b>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab right middle edge *ngIf="exibirBtnComentar">
    <button ion-fab>
      <ion-icon name="text"></ion-icon>
    </button>

    <ion-fab-list side="left">

      <button ion-fab color="secondary" (click)="navegarParaComentarios()">
        <ion-icon name="add-circle"></ion-icon>
      </button>

      <button ion-fab color="danger" *ngIf="podeVisualizarComentarios" (click)="exibirTodosComentarios()">
        <ion-icon name="eye"></ion-icon>
      </button>

      <button ion-fab color="dark" (click)="ocultarBotao()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="exibirBotaoDeBusca" right middle edge>
    <button ion-fab color="light" (click)="navegarParaTelaBusca()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="exibirPaletaDeCores" left middle edge>
    <button ion-fab color="danger">
      <ion-icon ios="ios-share" md="md-share"></ion-icon>
    </button>

    <ion-fab-list side="right">
      <button ion-fab color="secondary" (click)="compartilharPorFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button> 
      <button ion-fab color="secondary" (click)="compartilharPorWhatsApp()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="compartilharPorTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="compartilharVersiculo()">
      <ion-icon name="more"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <div [ngSwitch]="segmentoSelecionado">
    <ion-list *ngSwitchCase="'livros'">
      <ion-item-group>
        <ion-item (click)="atualizarSegmentoCapitulos(index)" *ngFor="let livro of biblia.livros; let index = index" no-lines>
          <ion-label style="font-size: 18px; padding-right: 15px; padding-left: 15px; margin-bottom: 2px; text-justify: auto">{{livro.abreviatura}}</ion-label>
          <ion-label style="font-size: 18px; padding-right: 15px; padding-left: 15px; margin-bottom: 2px; text-justify: auto">{{livro.nome}}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'capitulos'">
      <ion-grid *ngFor="let capitulo of biblia.livros[versiculoParaComentar.indexLivro].capitulos; let index = index" no-padding no-lines>
        <ion-row *ngIf="index % 4 == 0" no-padding justify-content-start align-items-start no-lines>
          <ion-col ion-item no-lines no-padding text-center (click)="atualizarSegmentoVersiculos(index)">
            <button round outline ion-button color="dark" *ngIf="index+1 <= biblia.livros[versiculoParaComentar.indexLivro].capitulos.length">
              {{index+1}}
            </button>
          </ion-col>
          <ion-col ion-col ion-item no-lines no-padding text-center (click)="atualizarSegmentoVersiculos(index+1)">
            <button round outline ion-button color="dark" *ngIf="index+2 <= biblia.livros[versiculoParaComentar.indexLivro].capitulos.length">
              {{index+2}}
            </button>
          </ion-col>
          <ion-col ion-item no-lines no-padding text-center (click)="atualizarSegmentoVersiculos(index+2)">
            <button round outline ion-button color="dark" *ngIf="index+3 <= biblia.livros[versiculoParaComentar.indexLivro].capitulos.length">
              {{index+3}}
            </button>
          </ion-col>
          <ion-col ion-item no-lines no-padding text-center (click)="atualizarSegmentoVersiculos(index+3)">
            <button round outline ion-button color="dark" *ngIf="index+4 <= biblia.livros[versiculoParaComentar.indexLivro].capitulos.length">
              {{index+4}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'versiculos'">
      <ion-item [ngStyle]="{'background-color': versiculo.backgroundColor!==null ? versiculo.backgroundColor : 'null' }"
        *ngFor="let versiculo of biblia.livros[this.versiculoParaComentar.indexLivro].capitulos[this.versiculoParaComentar.indexCapitulo].versiculos; let index = index"
        text-wrap (tap)="pressEvent($event, versiculo, index)" no-padding no-lines>
        <ion-label range-left style="font-size: 18px; padding-right: 15px; padding-left: 15px; margin-bottom: 2px; text-justify: auto">
          {{ index+1 + ". " + versiculo.texto}}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item></ion-item>
  </div>


  <ion-fab bottom left *ngIf="exibirBotoesNavegacao">
    <button ion-fab mini color="branco" (click)="navegarParaTras()">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom right *ngIf="exibirBotoesNavegacao" (click)="navegarParaFrente()">
    <button ion-fab mini color="branco">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer no-shadow *ngIf="exibirPaletaDeCores">
  <ion-toolbar position="bottom">
    <ion-row styleClass="centralizado">
      <ion-col>
        <button ion-button color="primary" (click)="setarCor('#488aff')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="secondary" (click)="setarCor('#32db64')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="danger" (click)="setarCor('#f53d3d')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="yellow" (click)="setarCor('#FFFF00')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="DarkViolet" (click)="setarCor('#9400D3')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="Sienna" (click)="setarCor('#A0522D')"> </button>
      </ion-col>

      <ion-col>
        <button ion-button color="HotPink" (click)="setarCor('HotPink')"> </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>