<ion-header>
  <ion-navbar>
    <ion-title><b style="color: #488aff">Plano de Leitura</b></ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="segmentoSelecionado" color="danger" style="background-color: #f4f4f4">
    <ion-segment-button value="hoje">
      <b style="color: #32db64">Hoje</b>
    </ion-segment-button>
    <ion-segment-button value="atrasado">
        <b style="color: #32db64">Atrasado</b>
    </ion-segment-button>
    <ion-segment-button value="detalhamento">
        <b style="color: #32db64">Detalhamento</b>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content no-padding style="background-color: #f4f4f4">
  
  <div [ngSwitch]="segmentoSelecionado">
    
    <ion-list *ngSwitchCase="'hoje'">
      <ion-card class="ion-card">
        <ion-item style="text-align: left">
          <h2 text-wrap style="align-items: left"><b>{{ unidadeLeituraDiaAtual.tituloLeituraDiaria }}</b></h2>
          <h3 style="text-align: left">{{ unidadeLeituraDiaAtual.dataParaLeitura | date: 'dd/MM/yyyy' }}</h3>
        </ion-item>
        <p></p>       
      
        <ion-card-content>
          <ion-list *ngFor="let sl of unidadeLeituraDiaAtual.segmentosLeituraDiaria">
            <ion-item>
              <ion-icon item-start name="checkmark-circle" color="secondary" *ngIf="sl.statusLeitura"></ion-icon>
              <ion-icon item-start name="alert" color="danger" *ngIf="!sl.statusLeitura"></ion-icon>
              <ion-label item-content> {{ sl.descricaoSegmento }} </ion-label>
              <ion-icon item-end name="play" color="secondary" (click)="navegarParaLeituraDiaAtual(sl)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="curtir(planoLeitura)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{planoLeitura.likes}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="comentar(planoLeitura)">
              <ion-icon name="text"></ion-icon>
              <div>{{planoLeitura.comentarios.length}} Comentários</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="compartilhar(planoLeitura)">
              <ion-icon name="share"></ion-icon>
              <div>{{planoLeitura.compartilhamentos}}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              Autor: <b>Garret Kell</b>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  
    <ion-list *ngSwitchCase="'atrasado'">

      <ion-label text-wrap *ngIf="unidadesLeituraAtrasadas.length === 0" style="color: green"> PARABÉNS!!!! Não existem atrasos em seu plano de leitura.</ion-label>
      
      <ion-card *ngFor="let uld of unidadesLeituraAtrasadas; let index = index" class="ion-card">
        <ion-item style="text-align: left">
          <h2 text-wrap style="align-items: left"><b>{{ uld.tituloLeituraDiaria }}</b></h2>
          <h3 style="text-align: left">{{ uld.dataParaLeitura | date: 'dd/MM/yyyy' }}</h3>
          <h3 item-end>{{ (index+1) + "/" + unidadesLeituraAtrasadas.length}}</h3>
        </ion-item>
        <p></p>
        <!--<img src="img/advance-card-bttf.png">-->
      
        <ion-card-content>
          <ion-list *ngFor="let sl of uld.segmentosLeituraDiaria">
            <ion-item>
              <ion-icon item-start name="checkmark-circle" color="secondary" *ngIf="sl.statusLeitura"></ion-icon>
              <ion-icon item-start name="alert" color="danger" *ngIf="!sl.statusLeitura"></ion-icon>
              <ion-label item-content> {{ sl.descricaoSegmento }} </ion-label>
              <ion-icon item-end name="play" color="secondary" (click)="navegarParaLeitura(uld, sl)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="curtir(planoLeitura)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{planoLeitura.likes}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="comentar(planoLeitura)">
              <ion-icon name="text"></ion-icon>
              <div>{{planoLeitura.comentarios.length}} Comentários</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="compartilhar(planoLeitura)">
              <ion-icon name="share"></ion-icon>
              <div>{{planoLeitura.compartilhamentos}}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              Autor: <b>Garret Kell</b>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  
    <ion-list *ngSwitchCase="'detalhamento'">
      <ion-card *ngFor="let uld of unidadesLeitura; let index = index" class="ion-card">
        <ion-item style="text-align: left">
          <h2 text-wrap style="align-items: left"><b>{{ uld.tituloLeituraDiaria }}</b></h2>
          <h3 style="text-align: left">{{ uld.dataParaLeitura | date: 'dd/MM/yyyy' }}</h3>
          <h3 item-end>{{ (index+1) + "/" + unidadesLeitura.length}}</h3>
        </ion-item>
        <p></p>
        <!--<img src="img/advance-card-bttf.png">-->
      
        <ion-card-content>
          <ion-list *ngFor="let sl of uld.segmentosLeituraDiaria">
            <ion-item>
              <ion-icon item-start name="checkmark-circle" color="secondary" *ngIf="sl.statusLeitura"></ion-icon>
              <ion-icon item-start name="alert" color="danger" *ngIf="!sl.statusLeitura"></ion-icon>
              <ion-label item-content> {{ sl.descricaoSegmento }} </ion-label>
              <ion-icon item-end name="play" color="secondary" (click)="navegarParaLeitura(uld, sl)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="curtir(planoLeitura)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{planoLeitura.likes}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="comentar(planoLeitura)">
              <ion-icon name="text"></ion-icon>
              <div>{{planoLeitura.comentarios.length}} Comentários</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-start clear small color="primary" (click)="compartilhar(planoLeitura)">
              <ion-icon name="share"></ion-icon>
              <div>{{planoLeitura.compartilhamentos}}</div>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              Autor: <b>Garret Kell</b>
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>


</ion-content>